<div class="flex h-screen w-full bg-white font-junge">
  <!-- Columna izquierda: Logo e imagen -->
  <div class="w-1/2 relative flex flex-col items-center justify-center">
    <img src="assets/logo2.png" alt="Pulse Sense Logo" class="absolute top-4 left-4 w-24" />
    <img src="assets/logindoc.jpeg" alt="Doctores" class="w-[90%] max-w-[520px] mt-16" />
  </div>

  <!-- Columna derecha: Formulario -->
  <div class="w-1/2 flex flex-col justify-center px-20">
   <h2 class="text-4xl mb-8">Iniciar Sesión Doctor</h2>


    <form class="flex flex-col gap-4 w-[85%] max-w-md">
      <div>
        <label for="name" class="block text-lg font-semibold text-gray-800 mb-1">Nombre:</label>
        <input
          id="name"
          type="text"
          class="w-full border border-gray-300 px-4 py-3 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-200"
        />
      </div>

      <div>
        <label for="email" class="block text-lg font-semibold text-gray-800 mb-1">Correo Electrónico:</label>
        <input
          id="email"
          type="email"
          class="w-full border border-gray-300 px-4 py-3 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-200"
        />
      </div>

      <div>
        <label for="password" class="block text-lg font-semibold text-gray-800 mb-1">Contraseña:</label>
        <input
          id="password"
          type="password"
          class="w-full border border-gray-300 px-4 py-3 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-200"
        />
      </div>

      <button
        type="submit"
        class="mt-3 w-full bg-[#1D4ED8] text-white py-3 rounded-md font-semibold hover:bg-[#153dc4] transition"
      >
        Iniciar Sesión
      </button>
    </form>

  <p class="mt-4 text-sm">
  ¿No tienes cuenta aún?
  <a [routerLink]="['/registrodoctor']" class="text-blue-600 italic hover:underline">Regístrate</a>
</p>

  </div>
</div>
