<div class="h-screen w-60 bg-[#2F65BB] flex flex-col text-white py-6 px-5">
  <!-- Logo -->
  <div class="flex flex-col items-center mb-6">
    <img src="assets/logosit.png" alt="Pulse Sense" class="w-32" />
  </div>

  <!-- Menú -->
<nav class="flex flex-col gap-12">
  <a [routerLink]="['/patientsdoctor']" class="flex items-center gap-4 cursor-pointer">
    <img src="assets/pacientes.png" alt="Pacientes" class="w-16" />
    <span class="text-[16px]">Pacientes</span>
  </a>



    <a href="#" class="flex items-center gap-4">
      <img src="assets/enfermero.png" alt="Enfermeros Asignados" class="w-16" />
      <span class="text-[16px] leading-5">Enfermeros<br />Asignados</span>
    </a>

    <a href="#" class="flex items-center gap-4">
      <img src="assets/reporte.png" alt="Reportes" class="w-16" />
      <span class="text-[16px]">Reportes</span>
    </a>

    <a href="#" class="flex items-center gap-4">
      <img src="assets/historial.png" alt="Historial" class="w-16" />
      <span class="text-[16px]">Historial</span>
    </a>
  </nav>

  <!-- Cerrar sesión -->
  <div class="mt-auto pt-10">
    <a href="#" class="flex items-center gap-4">
      <img src="assets/cerrarsesion.png" alt="Cerrar Sesión" class="w-10" />
      <span class="text-[16px]">Cerrar Sesión</span>
    </a>
  </div>
</div>
