<div class="flex h-screen w-full bg-white font-junge">
  <!-- Columna izquierda -->
  <div class="w-1/2 relative flex flex-col items-center justify-center">
    <div class="absolute top-6 left-6 z-50">
      <img src="assets/logo2.png" alt="Pulse Sense" class="h-24 w-auto md:h-28" />
    </div>
    <img src="assets/logenfe.jpeg" alt="Enfermero" class="w-[90%] max-w-[520px] mt-16" />
  </div>

  <!-- Formulario -->
  <div class="w-1/2 flex flex-col justify-center px-20">
    <h2 class="text-4xl font-bold text-[#03045E] mb-8 text-left">Iniciar Sesión Enfermero</h2>

    <form (ngSubmit)="iniciarSesion()" #form="ngForm" class="flex flex-col gap-4 w-[85%] max-w-md">
      <div>
        <label for="email" class="block text-lg font-semibold text-gray-800 mb-1">Correo Electrónico:</label>
        <input id="email" name="correo" [(ngModel)]="correo" type="email" required
          class="w-full border border-gray-300 px-4 py-3 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-200" />
      </div>

      <div>
        <label for="password" class="block text-lg font-semibold text-gray-800 mb-1">Contraseña:</label>
        <input id="password" name="contrasena" [(ngModel)]="contrasena" type="password" required
          class="w-full border border-gray-300 px-4 py-3 rounded-md bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-200" />
      </div>

      <button type="submit"
        class="mt-3 w-full bg-[#1D4ED8] text-white py-3 rounded-md font-semibold hover:bg-[#153dc4] transition">
        Iniciar Sesión
      </button>
    </form>

    <p class="mt-4 text-sm">
      ¿No tienes cuenta aún?
      <a [routerLink]="['/registroenfermero']" class="text-blue-600 italic hover:underline">Regístrate</a>
    </p>
  </div>
</div>
